
.carousel-inner, .carousel-item{
    height: 100vh;
    width: 100%;
}

body h2{
    font-weight: 200;
    margin-bottom: 50px;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}

.carousel-caption{
    width: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-caption-md{
    height: 50vh;
    text-align: center;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.carousel-caption h4, .carousel-caption-md h4{
   font-weight: 200;
   text-transform: uppercase;
}

.carousel-caption h3, .carousel-caption-md h3{
    font-weight: 500;
    font-family: 'Lora', serif;
    font-size: 60px;
}

.products .col-lg-3, .col-lg-9{
    text-align: center;
}


.card .card-image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.options .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.options .col-sm-12 .card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.options .card-body h5{
    text-align: center;
    font-size: 40px;
    font-family: 'Lora', serif;
    color: #fff;
    text-shadow: 1px 0px 6px black;
}

.contact .card{
    background-color: transparent;
    border: none;
}

.contact .card p a{
    text-decoration: none;
    color: black;
}

.contact .card p{
    font-weight: 200;
}

.contact .card .social-media{
    text-transform: uppercase; 
    font-weight: 200;
}

.contact .card h5{
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
}


@media(max-width: 767px){
    .carousel-inner, .carousel-item{
        height: 50vh;
        width: 100%;
    }

    .contact .card:first-child{
        order: 3;
        padding-top: 1.5rem;
    }

    .contact .card:nth-child(2){
        order: 1;
        /* padding-top: 3rem; */
    }

    .contact .card:nth-child(3){
        order: 2;
        padding-top: 1.5rem;
    }

}

@media(min-width: 768px){
    .carousel-caption h3{
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 80px;
     }

}

@media(max-width: 991px){
    .products .col-lg-9{
        padding-top: 3rem;
    }
}
